body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9eae1; /* Background color for the whole page */
    overflow-x: hidden; /* Prevents horizontal scrollbar */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* This adds some padding around the container */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Takes full width of the container */
    box-shadow: 0 2px 15px rgba(0,0,0,0.1); /* Shadow effect */
    background: #D6A675; /* White background for content */
}

.text-section {
    flex: 1; /* Allows this section to grow and take up 50% of the .content width */
    padding: 50px; /* Padding inside the text section */
}

.image-section {
    flex: 1; /* Allows this section to grow and take up 50% of the .content width */
    display: flex;
    justify-content: center;
    align-items: center;
}

#restaurant-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Controls the max height of the image */
    object-fit: cover; /* Ensures the image covers the assigned area, may crop */
}

#reservation-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#reservation-button:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    .container {
        padding: 0; /* Remove padding on smaller screens */
    }
    .content {
        flex-direction: column;
        padding: 0; /* Remove padding on smaller screens */
    }
    .text-section, .image-section {
        padding: 20px; /* Add padding inside the sections on smaller screens */
    }
    .image-section {
        order: -1; /* Moves the image above the text on smaller screens */
    }
    #restaurant-image {
        max-height: 300px; /* Adjusts max height for the image on smaller screens */
    }
}

.info-icons {
    text-align: center;
    margin-top: 20px; /* Spacing from the main content block */
}

.info-icons a, .info-icons span {
    margin-right: 20px; /* Spacing between icons */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Icon text color */
    cursor: pointer;
}

.info-icons a:hover, .info-icons span:hover {
    color: #777; /* Hover color */
}

#phone-message {
    display: none; /* Hidden by default */
    position: fixed; /* Overlay over the page */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering adjustment */
    background-color: white; /* Background of the message box */
    padding: 20px; /* Padding inside the message box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for visibility */
    z-index: 1000; /* Ensure it's above other content */
}