.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add bottom margin */
}


#category {
    padding: 8px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    flex-grow: 1; 
   width: 350px;
}

#category:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change border color when focused */
}

#checkbox {

margin-top: 25px;

}
#submit{
    margin-left: 15px;
   width: 100px;
   padding: 3px;
   font-size: 17px;
   
}

form {
    margin-right: 10px; /* Add margin between the form and the next element */
  
}

label {
    margin-right: 5px; /* Add margin between the label and the checkbox */
    font-size: 25px;
}



.restaurants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.restaurant {
    background: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.restaurant h3 {
    color: #333;
    font-family: 'Times New Roman' ;
}
.restaurant span {
    font-size: 50px;
  
}
.restaurant:hover{
    transform: translateY(-10px); /* Moves the card up by 10 pixels /
    cursor: pointer; / Changes the cursor to indicate it's clickable */
}



.restaurant-img img {
    max-width: 100%;
    border-radius: 8px;
}
.restaurant-info {
    margin-top: 1rem;
}
.restaurant-cat {
    color: #333;
}
.restaurant-info a {
    color: #06c;
    text-decoration: none;
}
@media(max-width: 700px) {
    .content {
        flex-direction: column;
    }
    .card {
        width: 90%;
        margin: 20px auto;
    }
}
.top-image {
    width: 100%; /* Adjust as needed */
    max-height: 250px; /* Set maximum height */
    margin-bottom: 20px; /* Add bottom margin */
}



.moving-text-container {
    position: relative;
    width: 100%;
    height: 100px; /* Set height as needed */
    overflow: hidden; /* Hide overflowing text */
}

.moving-text {
    position: absolute;
    animation: moveText 10s linear infinite;
    font-size: 30px;
    white-space: nowrap;
    margin-right: 20px; 
}

@keyframes moveText {
    0% {
        transform: translateX(0); /* Start position */
    }
    100% {
        transform: translateX(90vw); /* End position */
    }
}

.navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent background */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998; /* Lower than the openbtn */
    text-align: right; /* Align the text to the right */
}

.navbar a {
    display: inline-block; /* Inline block for alignment */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}