/* General body and HTML settings to ensure full height management */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    overflow: hidden;  
    background-image: url('https://www.efinancialmodels.com/wp-content/uploads/2024/04/20240409-162147.webp');

}

.container {
    width: 100%;
    max-width: 600px;  
    max-height: 100vh;
    overflow-y: auto;  
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 24px;  
    margin-bottom: 10px;  
}
form {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);  
    overflow-y: auto;  
    padding-bottom: 20px;  
}




label, input, select, textarea {
    font-size: 14px;  

    margin-bottom: 10px;  
    padding: 8px;  
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="time"],
select,
textarea {
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; 
}

label {
    font-size: 14px;  
    margin-bottom: 2px;
}

input[type="submit"] {
    padding: 10px;
        font-size: 16px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    .container {
        padding: 10px;
    }

    input, select, textarea {
        padding: 6px;  
    }

    label, input, select, textarea {
        font-size: 12px;  
    }
}
.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}