.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add bottom margin */
}


#category {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1; /* Allow the select element to grow to fill the available space */
    margin-right: 10px; /* Add some space between the select and the form */
}

#category:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change border color when focused */
}

form {
    margin-right: 10px; /* Add margin between the form and the next element */
}

label {
    margin-right: 5px; /* Add margin between the label and the checkbox */
}


.restaurants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.restaurant {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.restaurant h3 {
    color: #333;
}
.restaurant span {
    font-size: 50px;
}


.card {
    background: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: calc(33% - 40px);
    margin: 20px;
}
.card .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.card h3 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
}
.restaurant-img img {
    max-width: 100%;
    border-radius: 8px;
}
.restaurant-info {
    margin-top: 1rem;
}
.restaurant-cat {
    color: #333;
}
.restaurant-info a {
    color: #06c;
    text-decoration: none;
}
@media(max-width: 700px) {
    .content {
        flex-direction: column;
    }
    .card {
        width: 90%;
        margin: 20px auto;
    }
}
.top-image {
    width: 100%; /* Adjust as needed */
    max-height: 250px; /* Set maximum height */
    margin-bottom: 20px; /* Add bottom margin */
}



