body {
    background-image: url('https://img.freepik.com/free-photo/gold-cutlery-set-black-background_1220-4099.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* White text color */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.container {
    width: 450px; 
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    border: 2px solid #B8860B;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 30px;
}


h1 {
    font-size: 24px; /* Adjust size as necessary */
    text-align: center;
    color: #B8860B; /* Gold color for the heading */
    font-weight: normal; /* Adjust based on the font-weight in the image */
    margin-bottom: 30px; /* Add some space below the heading */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color:   #B8860B;
    width: 100%;
    float: left; /* Float the labels to the left */
 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333; /* Slightly lighter black for inputs */
    border: 1px solid  #B8860B;/* Gold border */
    border-radius: 5px;
    color:  #B8860B;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  #B8860B; /* Gold background for submit */
    color: #000; /* Black text color for submit */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color:   #B8860B; /* Darker gold on hover */
}

option {
    color: #000; /* Black option text color */
}

/* Additional styles for placeholder to match design */
::placeholder {
    color: #bfbfbf; /* Light grey placeholder text */
}

/* Remove default styles from browsers */
input, select {
    outline: none;
}

/* Style focus state of inputs */
input:focus, select:focus {
    border: 1px solid   #B8860B;
    background-color: #444;
}
#line {
    width: 100%;
    height: 1px;
    background-color:  #B8860B;
    border: none;
    margin-bottom:20px;
    
}