<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Night Out</title>
    <link rel="stylesheet" href="AboutUs.css">
    <link rel="icon" href="https://cdn5.f-cdn.com/contestentries/70431/10651466/53406793a0826_thumb900.jpg" type="image/x-icon"/>
</head>
<body>
    <%- include("navbar.ejs") %>
<nav>
    <div class="container">
        <h1>Night Out</h1>
    </div>
</nav>


<section class="about-section">
    <div class="container">
    
       <div style="overflow: hidden;">
            <img src="https://images.unsplash.com/photo-1578474846511-04ba529f0b88?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D" alt="Restaurant 1" class="img-right">
            <h2>About Us</h2>
            <p>Welcome to <span class="highlight">Night Out</span>, your premier destination for hassle-free restaurants reservations. At <span class="highlight">Night Out</span>, we're passionate about connecting food enthusiasts with top-rated restaurants, offering a seamless booking experience that puts you in control.</p>
        </div>


        <div style="overflow: hidden;">
            <img src="https://i0.hippopx.com/photos/566/265/249/chocolate-dessert-food-food-photography-preview.jpg" alt="Restaurant 2" class="img-left">
            <h2>Great Variety</h2>
            <p>Whether you're craving authentic Italian cuisine, mouthwatering sushi, or hearty American classics, <span class="highlight">Night Out</span> has you covereds.Discover new culinary delights, celebrate special occasions, and create unforgettable dining experiences with us.</p>
        </div>


        <div style="overflow: hidden;">
            <img id="im1"  src="https://en.idei.club/uploads/posts/2023-06/thumbs/1687684550_en-idei-club-p-vertical-restaurant-dizain-krasivo-39.jpg" alt="Restaurant 3" class="img-right">
            <h2>Our Mission</h2>
            <p>Our mission is simple: to make dining out an enjoyable and stress-free experience for everyone. With our easy-to-use platform, you can explore a diverse range of restaurants, browse menus, read reviews, and reserve your table in seconds.</p>
        </div>


        <div style="overflow: hidden;">
            <img id="im2" src="https://media.istockphoto.com/id/1198045232/photo/living-our-best-life.jpg?s=612x612&w=0&k=20&c=fB2ayf3UfLn-zqisNRxojhRRON72LPEHB3gLA0f4uaw=" alt="Restaurant 4" class="img-left">
            <h2>Culinary Connections Await</h2>
            <p>Join the <span class="highlight">Night Out</span> community! There's much to see here. So, let us help you find the perfect restaurant for every occasion.Bon appétit!</p>
        </div>
    </div>
</section>



    <div class="container">
        <p>&copy; 2024 Night Out. All rights reserved.</p>
    </div>
</footer>

</body>
</html>