<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/requests">Requests</a></li>
                <li><a href="/viewRestraunts">Manage Users</a></li>
                <li><a href="/viewReservation">View Reservations</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="dashboard-summary">
        <div class="summary-item">
            <h2>Total clients </h2>
            <p> <span id="users-count"></span></p>
        
        </div>

        <div class="summary-item">
            <h2>Requests Pending</h2>
            <p> <span id="request-count"></span></p>
           
        </div>

        <div class="summary-item">
            <h2> Total Restaurants</h2>
            <p> <span id="restaurants-count"></span></p>

           <script src="admin.js"></script>
        </div>
    </div>

    

    <footer>
        <p>Admin Dashboard ©️ 2024</p>
    </footer>
</body>
</html>