<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="contactStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="https://cdn5.f-cdn.com/contestentries/70431/10651466/53406793a0826_thumb900.jpg" type="image/x-icon"/>

</head>
<body>
    <%- include("navbar.ejs") %>
    <div class="contact-container">

        <div class="contact">
            <h3>Hatem Hossam</h3>
            <p><i class="fas fa-phone"></i> +01159141115</p>
            <p><i class="fas fa-envelope"></i> Hatem2201417@miuegypt.edu.eg</p>
            <a href="https://www.facebook.com/hatem.hossam.505?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/hatemmhossam?igsh=ajg4amJocGg5Nzhv&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="contact">
            <h3>Shahd Hesham</h3>
            <p><i class="fas fa-phone"></i> +01156767184</p>
            <p><i class="fas fa-envelope"></i> Shahd2201307@miuegypt.edu.eg</p>
            <a href="https://www.facebook.com/profile.php?id=100004995602535&mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/shahd_hesham11?igsh=MW5vcTU3M2wydzU5Nw==" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        
        <div class="contact">
            <h3>Ahmed Hatem</h3>
            <p><i class="fas fa-phone"></i> +01017027552</p>
            <p><i class="fas fa-envelope"></i> Ahmed2205276@miuegypt.edu.eg</p>
            <a href="https://www.facebook.com/ahmed.hatem.148116?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/ahmedhatemmm_?igsh=MWN1Zm9oZjFoanlicA==" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

    </div>
    


    <div class="contact-container">
    <div class="contact">
        <h3>Salma Ahmed</h3>
        <p><i class="fas fa-phone"></i> +01090914295</p>
        <p><i class="fas fa-envelope"></i> Salma2200195@miuegypt.edu.eg</p>
        <a href="https://www.facebook.com/salmaahmed.ramadan.1?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/salmaahhmedd__?igsh=MXJ4bmV4MmR5dTR3eQ==" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    
    <div class="contact">
        <h3>Youssef Hussein</h3>
        <p><i class="fas fa-phone"></i> +01095996566</p>
        <p><i class="fas fa-envelope"></i> Youssef2201783@miuegypt.edu.eg</p>
        <a href="https://www.facebook.com/yousef.salem.77?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/youssefsalem_77?igsh=dzFzN3piYXQ1amhn" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>

</div>


<script SameSite="None; Secure" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>
<script>
  var myLandbot = new Landbot.Livechat({
    configUrl: 'https://storage.googleapis.com/landbot.online/v3/H-2527478-QLYGV83150FZAYRY/index.json',
  });
</script>


</body>

</html>