<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="CusViewRes.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reservations</title>
    
</head>
<body>
    <div class="container">
        <h1>My Reservations</h1>
        <div class="scrollable-reservations" id="reservation-list"></div>
    </div>

   


    <script src="reservations.js"></script>
</body>
</html>
