<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Requests</title>
    <link rel="stylesheet" href="requeststyle.css"> <!-- Link to your CSS stylesheet -->
    <link rel="icon" href="https://cdn5.f-cdn.com/contestentries/70431/10651466/53406793a0826_thumb900.jpg" type="image/x-icon"/>

</head>
<body>
    <h1>View Requests</h1>
    <div id="request-list"></div>

    <script src="request.js"></script>
    
    </body>
    <html>