<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Reservation</title>
    <link rel="stylesheet" href="sellerReservation.css">
</head>
<body>
    <h1>Reservations</h1>
    <table id="reservation-table">
        <thead>
            <tr>
                <th>Status of Reservation</th>
                <th>Username</th>
                <th>Number of People</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="reservation-details">
            <!-- Reservation data will be dynamically added here -->
        </tbody>
    </table>
    <script src="reservations.js">
   
  </script>
    
</body>
</html>
