body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#reservation-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

#reservation-table th,
#reservation-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#reservation-details tr:nth-child(even) {
    background-color: #f2f2f2;
}


.action-buttons button {
    margin-right: 5px;
    padding: 5px 10px;
    
    border: none;
    color: #fff;
}

.confirm {
    background-color: #28a745; 
    color: #fff;
    cursor: pointer;
}

.decline {
    background-color: #dc3545; 
    color: #fff;
    cursor: pointer;

}
