<!DOCTYPE html>
<html lang="en">
<head>
    <title> Signin </title>
    <link rel="stylesheet" href="signin.css">
    <link rel="icon" href="https://cdn5.f-cdn.com/contestentries/70431/10651466/53406793a0826_thumb900.jpg" type="image/x-icon"/>

</head>
<body>
    <div class="container">
        <h1>Sign in</h1>
        <form action ="/signin" method="post">
            <label for="email"> <b>Username Or Email:</b></label>
            <input type="email" id="email" name="email" placeholder="name@gmail.com" required>
            <label for="password"><b>Password:</b></label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Sign in">
          <h2> New to Night Out? <a href="/customerssignup"> sign up</a> </h2>

        </form>


    </div>
    <script src="detailsjava.js"></script>
    

</body>
</html>